@model AMS.ViewModel.StudentIdentityCardViewModel
<script src="@Url.Content("~/Scripts/AMS_Scripts/Student/StudentIdentityCard.js")" type="text/javascript"></script>
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<div id="update-message" class="error invisible"></div>

<div class="widget-block">
    <div class="widget-head">
        <h5 id="hFive">Student Identity Card
                        @*<i class="icon-plus" style="padding-left: 7px;cursor:pointer;margin-left:30%" id="HideShowEmployeeOfficeDetails"></i>*@
        </h5>

    </div>
    <div class="widget-box" id="StudentQuickRegistration">

        <form id="FormEditStudentQuickRegistration" method="post" class="form-horizontal well">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @*@Html.HiddenFor(model => model.EmployeeID)
                            @Html.HiddenFor(model => model.ID, new { id = "ContactID" })
                            @Html.HiddenFor(model => model.CurrentAddressFlag)*@




            <div class="control-group">

                <div class="span2">
                    @Html.LabelFor(m => m.PermanentAddressLine1, new { @class = "control-label", style = "font-weight:bold" })
                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextAreaFor(m => m.PermanentAddressLine1, new { @class = "input-large", MaxLength = "200", })
                   
                </div>
                <div class="span2">
                    @Html.LabelFor(m => m.PermanentAddressLine2, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextAreaFor(m => m.PermanentAddressLine2, new { @class = "input-large", MaxLength = "200" })
                  
                </div>
            </div>

            <div class="control-group">
                <div class="span2">
                    @Html.LabelFor(m => m.CorrespondenceAddressLine1, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">

                    @Html.TextAreaFor(m => m.CorrespondenceAddressLine1, new { @class = "input-large", MaxLength = "200", })
                  

                </div>
                <div class="span2">
                    @Html.LabelFor(m => m.CorrespondenceAddressLine2, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextAreaFor(m => m.CorrespondenceAddressLine2, new { @class = "input-large", MaxLength = "200" })
                   
                </div>

            </div>

            <div class="control-group">
                <div class="span2">
                    @Html.LabelFor(m => m.Bloodgroup, new { @class = "control-label", style = "font-weight:bold" })


                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.DropDownList("Bloodgroup", ViewData["Bloodgroup"] as List<SelectListItem>, new { @class = "input-large text-tip" })

                </div>
                <div class="span2">
                    @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input-large", ReadOnly = "True" })
                  
                </div>

            </div>

            <div class="control-group">
                <div class="span2">
                    @Html.LabelFor(m => m.StudentMobileNumber, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">

                    @Html.TextBoxFor(m => m.StudentMobileNumber, new { @class = "input-large", MaxLength = "15" })
                   
                </div>
                <div class="span2">
                    @Html.LabelFor(m => m.ParentMobileNumber, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextBoxFor(m => m.ParentMobileNumber, new { @class = "input-large", MaxLength = "15" })
                  
                </div>

            </div>



            <div class="control-group">

                <div class="span2">
                    @Html.LabelFor(m => m.StudentCode, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextBoxFor(m => m.StudentCode, new { @class = "input-large", MaxLength = "30" })
                   
                </div>
                <div class="span2">
                    @Html.LabelFor(m => m.UniqueIdentificatinNumber, new { @class = "control-label", style = "font-weight:bold" })

                </div>
                <div class="span3" style="line-height: 25px">
                    @Html.TextBoxFor(m => m.UniqueIdentificatinNumber, new { @class = "input-large", MaxLength = "30" })
                  

                </div>
            </div>


            <div class="form-actions" style="padding-left: 0px; padding-bottom: 0px; text-align: right">
                <input type="button" id="SaveStudentIdentityCardRecord" value="Save" class="btn btn-primary" />
                <input type="button" id="PrintStudentIdentityCardRecord" value="Print" class="btn btn-primary" />
                <input type="button" id="PreviewStudentIdentityCardRecord" value="Preview" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        StudentIdentityCard.Initialize();
    });


</script>

